.post {
  p,
  pre {
    margin-bottom: 2em;
    position: relative;
  }

  pre > code {
    padding: 15px;
    border-radius: 10px;
    font-family: 'Fira Code', monospace;

    label {
      position: absolute;
      top: 4px;
      right: 5px;
      font-size: 0.75em;
      color: #f99157;
    }
  }

  p > code {
    background: #2d2d2d;
    color: white;
    border-radius: 2px;
    padding: 0.05em 0.25em;
    white-space: nowrap;
    font-family: 'Fira Code', monospace;
  }
}
